version: {build}
image: Visual Studio 2017
configuration: Release
platform: Any CPU
skip_tags: true

environment:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

build_script:
- cmd: .\build.cmd

test: off

artifacts:
- path: src/Serilog.Sinks.Syslog/bin/Release/Serilog.Sinks.SyslogMessages.*.nupkg
